<div class="container">
    <div class="well">
        <form action="login/run">
            <div class="form-group">
                <label for="name">Login:</label>
                <input type="text" class="form-control" name="login" placeholder="Enter your login">
            </div>
            <div class="form-group">
                <label for="pass">Password:</label>
                <input type="password" class="form-control" name="pass" placeholder="Enter your password">
            </div>
            <div>
                <input type="checkbox" name="remember" value="1"> Keep me logged in
            </div>
            <div class="login">
                <button type="submit" class="btn btn-primary" id="login">
                    <i class="glyphicon glyphicon-user"></i> Login
                </button>
                <label class="pull-right">Not registered yet? <a href="registration">Register Here</a></label>
            </div>

    </div>
    </form>
</div>