
.container {
    max-width: 730px;
    padding-left: 15px;
    padding-right: 15px;
}

/* navbar */
.navbar {
    max-width: 100%;
}

.btn:hover {
    color: white;
    background-color: #636363;
}

.navbar-default {
    background-color: #183D5D;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default span {
    color: #fff;
}

/* panel */
.panel-default .panel-heading {
    background-color: #183D5D;
}

.panel-default .panel-heading p {
    color: white;
    margin: auto;
}

.panel-body .btn {
    margin-top: 15px;
}

.copy {
    display: none;
}

.pcount {
    text-align: right;
    font-size: 18px;
    margin-bottom: 20px;
}

.hidden {
    visibility: hidden;
}

.hideText {
    transition: 0.5s;
    max-height: 40px;
    overflow: hidden;
}

.showText {
    max-height: 200px;
    transition: 2s;
}

.form-control {
    max-width: 660px;
}

/* footer*/

footer p {
    margin: 20px 0 20px;
    text-align: center;
}
