<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/css/style.css" type="text/css"/>
    <title>Petitions</title>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Petitions</a>
    </div>
    <div class="navbar-form pull-right">
<!--        <span>Welcome, --><?php //echo $_SESSION['name']; ?><!--</span>-->
        <button class="btn" type="button" id="logout">Logout</button>
    </div>
</nav>

<?= $content ?>

<div class="row text-center">
    <ul class="pagination">
        <li class="disabled"><a href="#" aria-label="Previouss"><span aria-hidden="true">&laquo;</span></a></li>
        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
</div>

<hr>

<footer>
<p>&copy; Company 2016</p>
</footer>
<script type="application/javascript" src="/js/jquery.js"></script>
<script type="application/javascript" src="/js/bootstrap.min.js"></script>
<script type="application/javascript" src="/js/main.js"></script>
</body>
</html>